<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxYG_8qiyfDHXv1SL0vPccwF60PuDcU6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>960470149849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tahaturan.testone.CoffeeConnect</string>
	<key>PROJECT_ID</key>
	<string>coffeeconnetct</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeeconnetct.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960470149849:ios:595caa4694ca0431572cc8</string>
</dict>
</plist>